@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* ---------- Vars --------------- */
$danger-color: #dc3545;
$navigation-color: #0b5ed7;
$white-text: #fff;

$danger-color-hover: #a52532;
$navigation-color-hover: #0747a7;

/* ------------ GENERAL STYLES -------- */

* {
    margin: 0;
    padding: 0;
    font-family: Rubik, sans-serif;
    box-sizing: border-box;
}


.container {
    max-width: 1200px;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.btn {
    border: 1px solid white;
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
    text-decoration: none;
    border-radius: 5px;
}

.danger-btn {
    color: $white-text;
    background-color: $danger-color;
}

.primary-btn {
    color: $white-text;
    background-color: $navigation-color;
}

.danger-btn:hover {
    background-color: $danger-color-hover;
    transition: 0.5s;
}

.primary-btn:hover {
    transition-duration: 1s;
    background-color: $navigation-color-hover;
    transition: 0.5s;
}

.product-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 0.5rem;
    min-width: 200px;
    input {
        align-self: flex-start;
    }

    * {
        padding: 0.2rem 1rem;
    }
}

#div-menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.2rem;
    padding-top: 1.0rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid black;
}

.buttons-container {
    > :first-child {
        margin-right: 1.2rem;
    }
}

footer .container {
    border-top: 2px solid black;
    width: 100%;
    text-align: center;
    padding: 1.4rem;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.form-div, #div-products{
    flex-grow: 1;
}

footer {
    justify-self: flex-end;
}

@media screen and (max-width: 400px) {
    #div-menu .container {
        flex-direction: column;
    }
}